<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.dao.manager.ManagerPicturePendantDao">
    <resultMap id="BaseResultMap" type="com.cn.beans.manager.ManagerPicturePendantInfo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="pendant_name" property="pendantName" jdbcType="VARCHAR"/>
        <result column="picture_path" property="picturePath" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="VARCHAR"/>
    </resultMap>
    <insert id="insert" parameterType="com.cn.beans.manager.ManagerPictureFrameInfo">
        insert into picture_pendant_info (pendant_name, picture_path)
        values (#{pendantName}, #{picturePath})
    </insert>
    <delete id="delete">
        delete
        from picture_pendant_info
        where id = #{id}
        limit 1
    </delete>

    <select id="getList" resultMap="BaseResultMap" parameterType="map">
        select id, pendant_name, picture_path, DATE_FORMAT(create_time, '%Y-%m-%d %H:%i:%s') as create_time
        from picture_pendant_info
        order by create_time desc
    </select>
    <select id="selectById" resultMap="BaseResultMap" parameterType="map">
        select id, picture_path
        from picture_pendant_info
        where id = #{id}
        limit 1
    </select>

</mapper>
